
Coupling/Emotional Variability predicts Different Patterns of Physiological Reactivity and across a Laboratory Stressor\.docx

Coupling/SRCD 2015 coupling abby\.docx

Coupling/SRCD georges integrative statement\.docx

Coupling/Temporally and Contextually Dependent Coupling of the HPA and HPG Axes\.docx

Empathy/anger graph SRCD\.xlsx

Empathy/Emotional Variability predicts different patterns of physiological reactivity and recovery across a laboratory stressor\.docx

Empathy/SRCD 2015 emotions abby for Caspar\.docx

Empathy/SRCD 2015 emotions abby\.docx

SRCD 2015/Atypical Neuroendocrine Coupling_Longitudinal_2015_Physio Calibration_Symposium Version_REVISED\.ppt

SRCD 2015/SRCD coupling\.pptx

SRCD 2015/SRCD2015\.pptx

SRCD2015/Slide01\.jpg

SRCD2015/Slide02\.jpg

SRCD2015/Slide03\.jpg

SRCD2015/Slide04\.jpg

SRCD2015/Slide05\.jpg

SRCD2015/Slide06\.jpg

SRCD2015/Slide07\.jpg

SRCD2015/Slide08\.jpg

SRCD2015/Slide09\.jpg

SRCD2015/Slide10\.jpg

SRCD2015/Slide11\.jpg

SRCD2015/Slide12\.jpg

SRCD2015/Slide13\.jpg

SRCD2015/Slide14\.jpg

SRCD2015/Slide15\.jpg

SRCD2015/Slide16\.jpg

SRCD2015/Slide17\.jpg
